/* BODY */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7eee8;
    color: #4a4a4a;
}

h2 {
    font-size: 22px;
    color: #5d534f;
    margin-bottom: 10px;
}

/* HEADER */
.header {
    background-color: #f3d2c1;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    margin: 20px;
}

.header #gliding-title {
    font-size: 70px;
    color: #8f817b;
    text-shadow: -4px 4px #5d534f;
    margin-bottom: 10px;
}

/* NAVBAR */
nav {
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #5d534f;
    font-weight: bold;
}

/* MAIN */
@media (min-width: 900px){
    .main {
        margin-left: 20vw;
        margin-right: 20vw;
        padding: 20px;
        background: #ecbfb0;
    }
}

@media (max-width: 900px) {
    .main {
        margin-left: 2vw;
        margin-right: 2vw;
        padding: 20px;
        background: #ecbfb0;
    }
}

.section {
    margin-bottom: 10px;
    text-align: center;
}

.section ul {
    display: inline-block;
    list-style-type: none;
}

.section h2 {
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #f3d2c1;
    box-shadow: 10px 10px #8f817b;
}

.section .info {
    border-radius: 10px;
    background: #fffef8;
    box-shadow: 10px 10px #cab6ae;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* MEMBERS */
.family-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-box {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #f3d2c1;
    box-shadow: 10px 10px #ffeed7;
}

.profile-box img {
    padding-top: 10px;
    width: 180px;
}

.profile-box p {
    padding: 5px;
}

/* FOOTER */
.footer {
    background-color: #f3d2c1;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #5d534f;
}